<h1 class="welcome text-center p-2 m-3">Welcome!</h1>

<img class="m-1 p-1 home-main-img" src="./img/test.jpg" alt="">

<div class="aboutCard">
  <h2 class="aboutTitle text-center pb-0 pt-3 m-3">What is ??</h2>
  <p class="m-1 mb-5 p-3 aboutText text-center">
    WELCOME!!!!
  </p>
</div class="d-flex container">
<div class="d-flex justify-content-center align-items-center">
  <img class="m-4 p-2 homePageImg" src="./img/test.jpg" alt="" width="300" height="300">
  <img class="m-4 p-2 homePageImg" src="./img/test.jpg" alt="" width="400" height="300">
  <img class="m-4 p-2 homePageImg" src="./img/test.jpeg" alt="" width="300" height="300">
</div>
<div>

</div>